*{
    padding: 0;
    margin: 0;
}
/* Header section design  */
.header{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    color: #707070;
}
.flex-div{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    /* margin-top: 40px; */
}
.arrow{
    margin-top: 7px;
}
.btn-primary{
    background-color: #B68C5A;
    padding: 15px 20px;
    /* margin-top: 10px; */
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 800;
}
.home{
    padding-right: 15px;
}