*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* Header section design  */
.header{
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    color: #707070;
}
.flex-div{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    /* margin-top: 40px; */
}
.header>h3 .arrow{
    margin-top: 7px;
    margin-left: -15px;
    cursor: pointer;
}
.btn-primary{
    background-color: #B68C5A;
    padding: 12px 25px;
    font-size: 18px;
    /* margin-top: 10px; */
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 800;
}
.home{
    padding-right: 15px;
}

/* Banner section styles  */
.banner{
    background-image: url(./images/banner.png);
    height: 80vh;
    background-color: black;
    background-repeat: no-repeat;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
}
.banner-container{
    height: 80vh;
    position: relative;
    z-index: 1;
    background-color: rgba(24, 24, 24, 0.7); /* Background color for content */
}
.banner-heading{
    font-size: 56px;
    padding-top: 100px;
}
.banner-text{
    padding:20px 0;
}
.btn-white{
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    text-align: left;
    background-color: white;
    color: #707070;
    /* margin-top: 15px; */
}
.btn-div{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 24px;
}